@import "@solana/wallet-adapter-react-ui/styles.css";
@import "tailwindcss";

@theme {
  --color-primary-brand: #5d4bff;
  --color-primary-brand-inactive: #5d4bffb2;
  --color-gray2-text: #7a7a7a;
  --color-primary-accent: #eeecfe;
  --color-positive: #00c33a;
  --color-gray-card: #f6f6f6;
  --color-gold-badge: #fef9e6;
  --color-gold-primary-brand: #ecb900;
  --color-gray1-text: #b8b8b8;
}
@layer utilities {
  .shadow-logo {
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 0.07);
  }
  .shadow-positive-glow {
    box-shadow: 0px 0px 5px 4px rgb(0 195 58 / 0.2);
  }
  .shadow-badge {
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 0.1);
  }
  .shadow-wallet {
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 0.07);
  }
  .font-neuebit {
    font-family: var(--font-ppneuebit), monospace;
  }
  .font-aeonik {
    font-family: var(--font-aeonik), system-ui;
  }
}
